.sign-in-content {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
  opacity: 0;
  animation: slideFromTop 1s 0.6s ease-in-out forwards;
  & .sign-in-icon {
    font-size: 1rem;
  }
}

@keyframes slideFromTop {
  from {
    transform: translateY(-150%);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}