.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.5); 
}

.modalOverlayTransparent {
    background-color: transparent;
}

.modalContent {
    padding: 20px;
    background-color: white; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    height: auto;
    @media (min-width: 768px) {
        width: 300px;
    }
}